<%= form_for([@post, @post.comments.build]) do |f| %>
	<div class="field">
		<%= current_user.email %>
	</div>
	<div class="field comment1">
		Введите комментарий
		<%= f.text_area :body %>
	</div>
		<div class="actions">
		<%= f.submit "Отправить"%>
	</div>
<% end %>
