<div class="wrapper">
  <div class="first">
  <div class="pic-1">
    <img src="/../images/1.jpg" alt="">
  </div>
    <div class="name_1">
    <p>НАТАЛИЯ ХРОМУШИНА <br> ИНГРИДА КАЛТАУСКАЙТЕ</p>
    </div>
    <div class="curs">
    <p>2 КУРС</p>
    </div>
    <div class="title_1"><h1>ARTISTORY</h1></div>
    <div class="n_undertitle"><p>Интерактивная база знаний по истории исскусств</p></div>

  </div>
</div>

<div class="n_second">
<div class="n_pic-2">
  <img src="/../images/rounds_img.png" alt="">
</div>
<div class="n_pic-3">
  <img src="/../images/ca_img.svg" alt="">
</div>
  <div class="n_who">
  <p>Наша пользователи — студенты Школы дизайна НИУ ВШЭ, проходящие курс по истории искусства. Мы решили начать, основываясь на нём. Данный курс общий
для всего факультета дизайна.</p>
  </div>
</div>

<div class="n_third">
  <div class="n_whiteback_1"></div>
<div class="n_pic-4">
  <img src="/../images/mob_1.png" alt="">
</div>
<div class="n_pic-5">
  <img src="/../images/mob_2.png" alt="">
</div>
  <div class="n_slogan">
  <h1>НАГЛЯДНО <br> ПРОСТО</h1>
  </div>
  <div class="n_underslogan">
  <p>Всё в одном месте</p>
  </div>
  <div class="n_whiteback_2"></div>
</div>

<div class="n_fourth">
  <div class="n_pic-6">
  <img src="/../images/gr_1.png" alt="">
</div>
<div class="n_pic-7">
  <img src="/../images/gr_2.png" alt="">
</div>
  <div class="n_zagl-1">
  <h1>ПОМОЩЬ</h1>
  <h1 class="tab">В ПОДГОТОВКЕ</h1>
  </div>
  <div class="n_text-1">
  <p>Наш сервис представляет архив, где собрана основная информация курса: картины и фактические сведения о них. Также есть дополнительные инструменты: карточки для запоминания, примеры тестов.</p>
  </div>
  <div class="n_zagl-2">
  <h1>ПОИСК <br> ИНТЕРЕСНЫХ ТЕМ</h1>
  </div>
  <div class="n_text-2">
  <p>Сервис предоставляет материалы на необычные темы, которые могут мотивировать к изучению предмета или даже помочь выбрать интересный объект исследования</p>
  </div>
</div>

<div class="n_futor">
  <div class="n_futor_text-1">
  <p>ARTISTORY</p>
  </div>
  <div class="n_round-1"></div>
  <div class="n_futor_text-2">
  <h1>Ты с нами?</h1>
  </div>
  <div class="n_round-1"></div>
  <div class="n_futor_text-3">
  <p>О проекте</p>
  </div>
</div>







<p>Find me in app/views/promo/index.html.erb</p>
<%= link_to "About", about_path %>
