<div class="n_landing">
  <div class="n_LOGO">
    <h1>ARTISTORY</h1>
  </div>
  <div class="n_text">
    <p>Медиа-сервис поддержки в прохождении курса истории искусства</p>
  </div>
</div>







<%= link_to "Blog", posts_path %>
