.btn {
  font-family: 'SuisseIntl-Regular', sans-serif;
  font-weight: 600;
  font-size: 14px;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  transition: 0.2 ease;
  padding: 12px 16px 12px 16px;
  color: var(--color-sunset);
}

/* Button styles */
.btn--main {
  background-color: var(--sunset);
  color: #fff;
  img{
    display: none;
  }
}

.btn--secondary {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 14px;
  padding: 12px 16px 12px 16px;
  background-color: transparent;
  color: var(--sunset);
  img{
    display: none;
  }
}

.btn--secondary:hover {
  background-color: transparent;
  color: var(--color-light-sunset);
}

.btn--admin--white{
  background-color: var(--color-sea-foam);
  color: var(--color-black-sand);
  font-weight: 500;
  padding: 8px 24px 8px 24px;
  img{
    display: none;
  }
}

.btn--admin--transp{
  background-color: transparent;
  color: var(--color-sea-foam);
  font-weight: 500;
  padding: 8px 24px 8px 24px;
  img{
    display: none;
  }
}

.btn--icons{
  background-color: transparent;
  color: var(--sunset);
  img{
    display: block;
    padding-left: 5px;
  }
}

/* Button states */

.btn--primary{
}
.btn:hover{
  background-color: var(--hover);
  color: var(--color-sea-foam);
}
.btn:visited{
  background-color: var(--pressed);
}
.btn:disabled{
  background-color: var(--disabled);
}