body{
   min-height: 100vh;
   background: white;
   font-family: 'SuisseIntlRegular';
 }
/* Подключение */
 @font-face {
   font-family: "SuisseIntlRegular";
   font-style: normal;
   src: url("fonts/SuisseIntl-Regular.ttf") format("ttf"),
   url("fonts/SuisseIntl-Regular.woff") format("woff"),
   url("fonts/SuisseIntl-Regular.woff2") format("woff2");
 }

 @font-face {
   font-family: "SuisseIntlSemiBold";
   font-style: normal;
   src: url("fonts/SuisseIntl-SemiBold.ttf") format("ttf"),
   url("fonts/SuisseIntl-SemiBold.woff") format("woff"),
   url("fonts/SuisseIntl-SemiBold.woff2") format("woff2");
 }
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@400;600&display=swap');

 .avatar_round {
  border-radius: 50px;
}
.avatar_post {
  margin-right: 13px;
  margin-top: 4px;
}
.submit input {
  background: black;
}
.top_menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 4.167vw;
  background: #272727;
  color: #fff;
  font-size: 1.059vw;
  font-weight: 600;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
}
.top_menu a {
  color: #fff;
  text-decoration: none;
  margin: 0 2vw;
  font-size: 1.059vw;
  font-weight: 600;
}

/* apppers ony if user logged in as a user */
.user_panel{
  position: absolute;
  width: 19.236vw;
  height: 100%;
  background: #fff;
}

/* apppers ony if user logged in as an admin */
.admin_panel{
  display: block;
  position: absolute;
  width: 19.236vw;
  height: 100%;
  top: 0;
  background: #fff;
}
.all_links{
  position: fixed;
  display: flex;
  height: 14vw;
  flex-direction: column;
  margin-top: 8.681vw;
  margin-left: 1.736vw;
  justify-content:space-between;
}
.all_links a{
  padding-top: .5vw;
  height: 2.778vw;
  color: #000;
  font-size: 1.528vw;
  font-weight: 600;
  padding-left: 1.736vw;
  text-decoration: none;
}
.chosen{
  margin: 0;
  width: 15.694vw;
  height: 2.778vw;
  background: #E5E5E5;
  border-radius: 0.417vw;
}
.search form{
    margin: 0;
    width: 26.847vw;
    height: 2.381vw;
    background: #fff;
}
.search form input[type="text"]{
  outline-width: 0;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -webkit-writing-mode: none ;
  color: transparent;
  border-color: none;
  background: transparent;
  border: none;
  font-size: 1.190vw;
  font-weight: 400;
  color: #444;
  padding-left: .8vw;
}
.search form input[type="submit"]{
  width: 1.7vw;
  height: 1.7vw;
  background-image: url("search.svg");;
  background-size: 100%;
  margin-top: .3vw;
  margin-right: 1vw;
}
.whole_form{
  display: flex;
  justify-content: center;
}
.enter_form{
  margin-top: 7vw;
  width: 26vw;
  height: auto;
  background: white;
  display: flex;
  justify-content: center;
  border-radius: 0.3vw;
  box-shadow: 10px 10px 10px -10px #E5E5E5;
}
.inner_content{
  margin-top: 1.111vw;
  text-align: center;
}
.inner_content h2{
  font-family: 'SuisseIntlRegular';
  font-size: 2vw;
  line-height: 90%;
  font-weight: 800;
}
.inner_content input[type="email"]{
  font-size: .9vw;
  font-weight: 600;
  padding-left: .7vw;
  width: 15vw;
  height: 2.381vw;
  background: #F0F0F0;
  color: #444;
  border-radius: 0.3vw;
  border: none;
}
.inner_content label{
  color: #444;
  font-size: .9vw;
  font-weight: 600;
  display: flex;
  margin-left: 1.4vw;
  margin-bottom: .4vw;
  margin-top: 1.3vw;
}
.inner_content input[type="password"]{
  font-size: .9vw;
  font-weight: 600;
  padding-left: .7vw;
  width: 15vw;
  height: 2.381vw;
  background: #F0F0F0;
  color: #444;
  border-radius: 0.3vw;
  border: none;
}
.inner_content input[type="text"]{
  font-size: .9vw;
  font-weight: 600;
  margin-bottom: 1.5vw;
  padding-left: .7vw;
  width: 15vw;
  height: 2.381vw;
  background: #F0F0F0;
  color: #444;
  border-radius: 0.3vw;
  border: none;
}
.checkbox_field{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1.5vw;
}
.checkbox_field label{
  padding-top: .1vw;
}
.container {
  display: block;
  position: relative;
  padding-left: 2.353vw;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 1vw;
  width: 1vw;
  left: 0;
  z-index: 11;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.35vw;
  width: 1.35vw;
  border-radius: .3vw;
  background: #ddd;
}
.container:hover input ~ .checkmark {
  background-color: #ccc;
}
.container input:checked ~ .checkmark {
  background-color: #000;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container input:checked ~ .checkmark:after {
  display: block;
}
.container .checkmark:after {
  left: 0.4vw;
  top: 0.235vw;
  width: 0.25vw;
  height: 0.5vw;
  border: solid white;
  border-width: 0 0.176vw 0.176vw 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
input[type="submit"]{
  width: auto;
  border: none;
  height: 2.381vw;
  font-weight: 600;
  margin-top: 2vw;
  border-radius: 0.3vw;
  padding: 0 1vw;
  font-size: .9vw;
  color: #fff;
  background: #272727;
  cursor: pointer;
}
.tap{
  margin-left: -.5vw;
  margin-top: 0;
}
.checkbox_field label{
  margin-top:0;
  margin-left: 0vw;
}
.else{
  margin-top: 2vw;
  width: 17.778vw;
  margin-bottom: 2.778vw;
}
.else a{
  text-decoration: underline;
  color: #444;
  font-weight: 600;
  cursor: pointer;
}
.else p{
  color: #000;
  font-weight: 600;
  margin: .2vw;
}

/* Посты */

.uhodi {
  color: green;
}
.none {
  display: none;
}
.upperrow {
  display: flex;
}
.edit > * {
  border-radius: none;
  outline-offset: none;
}
.lnl {
  width: 20vw;
  border: none;
  color: black;
  padding: 10px;
  font-family: Rubik;
  font-size: 18px;
  line-height: 108%;
}
.lnl:focus {
  border: none;
  outline: none !important;
  box-shadow: none;
}
.ok {
  margin-right: 5%;
  width: auto !important;
}
.logo {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  z-index: 1000;
  background-size: contain;
  vertical-align: top;
  margin-top: 2%;
  padding: 0;
  text-align: center;
}
.logo img {
  width: 100%;
  height: 100;
}
.acc {
  display: flex;
  align-items: center;

}
.acc a {
  margin-left: 15px;
  font-family: Rubik;
  font-size: 18px;
  line-height: 108%;
}
a {
  text-decoration: none;
}
body {
  margin: 0;
  padding-left: 4vw;
  padding-right: 4vw;
  padding-bottom: 8vh;
}
.allin {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}
.comment_section h2 {
  font-family: SuisseIntlRegular;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 108%;
  color: black;
}
.separate {
  padding: 22px;
  background: white;
  width: 36.72vw;
  margin-bottom: 1.7vw;
}
.linkc a {
  color: black;
}
.left_menu {
  background-color:##F0F0F0;
  width: 23.96vw;
  height: auto;
  margin-top: 0vw;
}
.left_menu p {
  margin: 0;
  font-family: SuisseIntlRegular;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 108%;
  margin-bottom: 1vw;
}
.left_menu a {
  color:black;
  font-family: SuisseIntlRegular;
}
.all_post {
  width: 74.54vw;
  /*overflow: auto;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.pi, .edit, .new, .ci, .newpost, .editpost{
  width: 53.54vw;
}
.newpost h1, .editpost h1 {
  font-family: Rubik Mono One;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 108%;
  color: #D2FB51;
}
.fir {
  margin-top: 0;
}
.e_n {
  display: flex;
}
.imgp {
  width: 300px;
  height: 300px;
  margin-right: 2vw;
}
.pinfo {
  display: flex;
}
.pinfo h1 {
  font-family: Rubik Mono One;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 108%;
  color: #D2FB51;
  padding: 0;
  margin: 0;
}
.pinfo p {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 108%;
  color: #FFFFFF;
}
.statics {
  margin-top: 4%;
  display: flex;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 108%;
  color: #FFFFFF;
  align-items: baseline
}
.statics > * {
  margin-right: 7vw;
}
.statics p {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 108%;
  color: #FFFFFF;
      white-space: nowrap;
}
.fav {
  margin-right: 0;
}
.fav a {
  color: #333;
}
.fav a:hover {
  color: white;
}
.ptinfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between
}
.postinfo {
  margin-top:0;
  display: block;
  position: relative;
  width: 46vw;
}
.tgth {
  display: flex;
  height: 100%;
}
.postinfo > * {
  /* margin-right: 5%; */
}
.uhoh {
  color: red;
}
.buttons {
  display: block;
}

.buttons > * {
  transition: 0.1s ease all;
  margin-right: 20px;
  height: 2.381vw;
}
.other a {
  margin-right: 20px;
}
.other {
  display: flex;
  align-items: baseline
}
.lol {
  background: #D2FB51;
  border: none;
  color: black;
  padding: 10px;
  font-family: SuisseIntlRegular;
  font-size: 18px;
  line-height: 108%;
}
.more a {
  background: #D2FB51;
  border: none;
  color: black;
  padding: 10px;
  font-family: SuisseIntlRegular;
  font-size: 18px;
  line-height: 108%;
}
.dothis {
  margin-top: 30px;
  display: flex;
  align-items: baseline;
}
.dothis p {
  color: white;
  margin-left: 10px;
  margin-right: 10px;
}
.lil {
  background: #D2FB51;
  border: none;
  color: black;
  padding: 11px;
  font-family: SuisseIntlRegular;
  font-size: 18px;
  line-height: 108%;
}
.allevents {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.event {
  display: flex;
  margin-left: -50px;
}
.eventinfo {
  margin-left: 1.9vw;
}
.h1 h1 {
  font-family: Rubik Mono One;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 108%;
  color: white;
  margin: -2px;
  margin-right: 10px;
}
.eventinfo .h1 {
  display: flex;
  margin-bottom: 15px;
}
.eventinfo p {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 108%;
  color: white;
  margin: 0;
  margin-bottom: 10px;
}
.dot {
  width: 50px;
  height: 50px;
  background: #D2FB51;
  border-radius: 100%;

}
.timeline {
  display: flex;
}
.add {
  width: 25.97vw;
}
.add h2 {
  font-family: Rubik Mono One;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 108%;
  color: white;
  margin-bottom: 8%;
}
.eve {
  margin-bottom: 20px !important;

}
.lal {
  min-width: 38.5vw;
  border: none;
  color: black;
  padding: 10px;
  font-family: Rubik;
  font-size: 18px;
  line-height: 108%;
  max-width: 38.5vw;
}
.lel {
  width: 90%;
  border: none;
  color: black;
  padding: 10px;
  font-family: Rubik;
  font-size: 18px;
  line-height: 108%;
  max-width: 100%;
  margin-top: 7px;
}
.lel:focus {
  border: none;
  outline: none !important;
  box-shadow: none;
}
.ev {
  margin-top: 7%;
}
.lal:focus {
  border: none;
  outline: none !important;
  box-shadow: none;
}
.buttons > * {
  transition: 0.1s ease all;
  margin-right: 20px;
}
.buttons > *:hover {
  opacity: 0.5;
}
.lol:hover {
  opacity: 0.5;
}
.updown {
  margin-right: 7%;
  font-size: 36px;
  line-height: 49px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6.1%;
}
.arrow {
  width: 13px;
  height: 10px;
  background: url("arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.sleep {
  opacity: 0.3;
}
.down {
  transform: rotate(180deg);
}
.a_c {
  display:block;
}
.a_c p {
  display: block;
  position: relative;
  color: black;
  font-family: SuisseIntlRegular;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 108%;
}
.about {
  color: black;
  font-family: SuisseIntlRegular;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 108%;
  width: 25.97vw;
}
.a_c > * {
  margin-right: 20px;
}
/* .post_container:hover .hov {
  opacity: 0.4;
} */
.post_container:hover {
  opacity: 0.5;
}
.hov {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
}
#black {
  color: black;
}
.cover {
  height:40vw;
}
.downinfo {
  font-size: 18px;
  line-height: 108%;
  display: flex;
  justify-content: space-between;
}
.rating {
  display: flex;
  align-items: baseline;
}
.rating span {
  font-size: 24px;
  line-height: 108%;
  margin-right: 5px;
}
.postname {
  margin: 0;
  font-family: Rubik Mono One;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 108%;
  color: black;
  width: 70%;
}
.postname2 {
  margin: 0;
  font-family: Rubik Mono One;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 108%;
  color: black;
  width: 100%;
  white-space: nowrap;
}
.all_container {
  margin-top: 0;
  display: flex;
  justify-content: space-between;
}
.fit-image {
  object-fit: cover;
  width: 100%;
  min-height: 100%;
  height: auto;
  min-height: 100%
  min-width: 100%; 
}
.pic {
  overflow: hidden;
  width: 21vw;
  height: 19.44vw;
  background: #D2FB51;
}
.uppercomment {
  display: flex;
  align-items: center;
  color: black;
  font-family: SuisseIntlRegular;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}
.uppercomment p {
  color: black;
  font-family: SuisseIntlRegular;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}
.commenter {
  margin-left: 13px;
}
.uppercomment span {
  margin-left: 20px;
}
.top_menu .avatar {
  margin-left: 30px;
}
.avatar {
  background: var(--lime);
  border-radius: 100%;
  width: min-content;
}
.avatar img {
  display: block;
  margin: 0;
}
.av {
  object-position: center center;
  object-fit: cover;
  width: 100%;
}
.avatar:hover {
  opacity: 0.5;
}
.cover {
  display: flex;
  justify-content: space-between;
}
/* .cov {
  object-fit: cover;
  width: 100%;
} */
.cats {
  /* background: red; */
  display: flex;
  justify-content: flex-end;
  height: 3vw;
  margin-top:4vw;
  margin-bottom: 1vw;
}
.cats p {
  margin-top: 0;
  margin-bottom: 0;
}
.cats > * {
  font-family: SuisseIntlRegular ;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 108%;
  color: black;
  margin-left: 20px;
}
.third {
  /* background: red; */
  display: flex;
  justify-content: flex-start;
  height: 3vw;
  margin-top:4vw;
  margin-bottom: 1vw;
}
.third p {
  margin-top: 0;
  margin-bottom: 0;
}
.third > * {
  font-family: SuisseIntlRegular ;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 108%;
  color: black;
}
a:hover {
  color: #333;
}
th {
  text-align: left;
}
#categ {
  margin-left: 23px;
}
.avall {
  width: 45px;
  height: 45px;
  overflow: hidden;
  border-radius: 100%;
}
.avall:hover {
  opacity: 0.5;
}
.ci td {
  padding-top: 20px;
}
#cey {
  margin-top: 82.19px;
}
.cey {
  margin-top: 82.19px;

}
.ceyy a {
  color: #D2FB51;;
}
.accounts, .ci {
  color: white;
  width: 53.54vw;
}
.accounts td, .ci td {
  font-family: Rubik;
  font-size: 24px;
  line-height: 108%;
}
.accounts th:first-of-type {
  width: 0;
}
/* .accounts th:first-of-type {
  width: 0;
} */
.accounts table, .ci table {
  border-spacing: 23px 0px;
  border-collapse: separate;
}
.accounts th, .ci th {
  margin: 0;
  font-family: Rubik Mono One;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 108%;
  color: #D2FB51;
  width: 70%;
}
.posttext {
  width: 46vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
}
.buttons a, .other a {
  width: auto;
  border: none;
  height: 2.7vw;
  font-weight: 600;
  border-radius: 0.3vw;
  padding: .7vw 1vw;
  font-size: .9vw;
  color: #fff;
  background: #272727;
  cursor: pointer;
}
.buttons_r a, .other a {
  width: auto;
  border: none;
  height: 2.7vw;
  font-weight: 600;
  border-radius: 0.3vw;
  padding: .7vw 1vw;
  font-size: .9vw;
  color: #fff;
  background: #BC3A3A;
  cursor: pointer;
}
p#black.postname2 {
  margin-bottom:.2vw;
}
#comment_body {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 20vw;
  height: 5vw;
  margin-top: 3vw;
}
.firstblock {
  display: inline-block;
  width:18%;
  margin-right: 2.25vw;
  margin-top: 0;
  position: relative;
  vertical-align: top;
}
.secondblock {
  display: inline-block;
  width: 18%;
  margin-right: 2.25vw;
  margin-top: 0;
  position: relative;
  vertical-align: top;
}
.thirdblock {
  display: inline-block;
  width: 18%;
  margin-right: 2.25vw;
  margin-top: 0;
  position: relative;
  vertical-align: top;
}
.fourthdblock {
  display: inline-block;
  width: 18%;
  margin-right: 2.25vw;
  margin-top: 0;
  position: relative;
  vertical-align: top;
}
.fifthdblock {
  display: inline-block;
  width: 18%;
  margin-right: 0;
  margin-top: 0;
  position: relative;
  vertical-align: top;
  margin-right: 0;
}
.AllPostiks {
  position: relative;
  display: block;
  margin-top: 8%;
}
.AIconAddL {
  position: relative;
  width: 3vw;
  height: 3vw;
  cursor: pointer;
}

.AIconAddL:after {
  content: '';
  position: absolute;
  transform: translate(-50%, -50%);
  height: 0.4vw;
  width: 100%;
  background: linear-gradient(90deg, #B4FF68 0%, #20133E 41.5%, #000000 100%);
  box-shadow: 1px -0.1px 0.9px rgba(255, 57, 247, 0.96), -1px 1px 2px rgba(180, 255, 104, 0.81), -2px 0px 3px rgba(180, 255, 104, 0.4);
  top: 50%;
  left: 50%;
}

.AIconAddL:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(90deg, #B4FF68 0%, #20133E 41.5%, #000000 100%);
  box-shadow: 1px -0.1px 0.9px rgba(255, 57, 247, 0.96), -1px 1px 2px rgba(180, 255, 104, 0.81), -2px 0px 3px rgba(180, 255, 104, 0.4);
  height: 100%;
  width: 0.4vw;
}
.M_Painting-caption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 2vw;
}
.batoncard {
  display: block;
  position: relative;
  padding-top: 0.5vw;
  margin-left: 1%;
}
.imgcard {
  position: relative;
  display: block;
  overflow: hidden;
  width: 16.46vw;
  height: auto;
  border-radius: 0.2vw;
}
.postcontainer {
/*  transition: all 0.2s ease;
*/position: relative;
  display: block;
  width: 16.46vw;
  margin-bottom: 4vw;
}
.info h3 {
  padding-top: 1.4vw;
  margin-top: -1vw;
}
.info p {
  padding-top: 0;
  margin-top: -1vw;
}
.banner_warp img {
  width: 100%;
  height: 100%;
  position: relative;
  margin:  0 auto;
}
.banner_warp {
  top: 0%;
  margin: 0;
}
.whole_width {
  position: absolute;
  width: 100%;
  left: 0;
  margin-top: 4%;
}
.banner_warp h2 {
  font-family: Cormorant;
  font-size: 3.33vw;
  font-weight: 600;
  position: absolute;
  margin-top: -13.5%;
  color: white;
  left: 5%;
}
.banner_warp h3 {
  font-family: Suisse Intl;
  font-size: 1.67vw;
  position: absolute;
  font-weight: 300;
  margin-top: -5.5%;
  color: white;
  left: 5%;
}
.header {
  position: absolute;
  z-index: 999;
  display: block;
  top: 8vw;
  width: 100%;
  height: 4.44vw;
  vertical-align: top;
  z-index: 1000;
  left: 0;
  background-color: rgba(18, 37, 45, 1);
  /*box-shadow: 0px 6px 20px rgba(195, 255, 26, 0.5);*/
}
.header p {
  color: white;
  font-family: Suisse Intl;
  font-weight: 400;
  font-size: 1.25vw;
}
.header_wrap {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin:  0vw 4vw;
  padding: 0.3vw 0vw;
}
.header_left {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.left_head {
  margin-right: 5vw;
}
.header_right {
  position: relative;
  display: flex;
  text-align: right;
  width: 10%;
  justify-content: space-between;
}
.right_head {
  position: relative;
  display: flex;
}
.signin {
  height: 3vw;
  width: 3vw;
  border-radius: 50%;
  background: url("signin.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-top: 0.45vw;
}
.avatar_round img {
  height: 3vw;
  width: 3vw;
  border-radius: 50%;
  background: url("signin.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-top: 0.45vw;
}
.Account_action {
  display: block;
  position: relative;
}